body{
  background-color:black;
}

.card{
  max-width:18rem !important;
  background-color:grey;
}

.cent-card{
display:flex;
justify-content:center;
}

.my-search-div{
display:flex;
justify-content:center;
align-items:center;
border:2px solid green;
}